# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment files
.env

# Django
db.sqlite3
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data files
categories.json